doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{doctTitle}
    link(rel="stylesheet", href="/css/main.css")
    block styles

  body
    nav
      .logo MyShop
      .nav-links
        a(href="/", class=(path==='/shop' ? 'active': '')) Shop
        a(href="/cart", class=(path==='/cart' ? 'active': '')) Cart
        a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Product
        a(href="/admin/products", class=(path === '/admin/products' ? 'active' : '')) Admin Products
    block content